<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vista2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  id="main-content" [fullscreen]="true" class="ion-padding">

  <ion-input label="Nombre"></ion-input>
  <br>
  <ion-input label="Apellido"></ion-input>
  <br>
  <ion-select label="Default label" placeholder="Favorite Fruit">
    <ion-select-option value="Hola">Hola</ion-select-option>
    <ion-select-option value="Adios">Adios</ion-select-option>
    <ion-select-option value="xD">xD</ion-select-option>
  </ion-select>
  <ion-button (click)="navigateToHome()">Go to Home</ion-button>

</ion-content>
