<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-input
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Enter a valid email"
  errorText="Invalid email"
  [(ngModel)]="userForm.email"
  name="email"
  required
  email
  ></ion-input>

  <ion-input
    type="password"
    fill="solid"
    label="Password"
    labelPlacement="floating"
    helperText="Enter your password"
    errorText="Invalid password"
    [(ngModel)]="userForm.password"
    name="password"
    required
  ></ion-input>

  <ion-button (click)="onSubmit()">Login</ion-button>

</ion-content>
